# Ignorar el entorno virtual
env/

# Ignorar migraciones compiladas y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de entornos
.env
*.env

# Ignorar archivos de dependencias locales
.vscode/
.idea/
.DS_Store

# Ignorar archivos de logs
*.log
